	{{{header}}}

	<div id="main-container">
		<a href="/profile">Bob Jones</a>
		<a href="/profile">Bob Jones</a>
		<a href="/profile">Bob Jones</a>
		<a href="/profile">Bob Jones</a>
		<a href="/profile">Bob Jones</a>
		<a href="/profile">Bob Jones</a>
	</div>

	<div id="footer">
		{{{footer}}}
	</div>
</body>
</html>