    {{{header}}}

    <div id="main-container">
        <div class="min-height-container container">
            <div class="row">
                <div id="login-container" class="center-horiz">
                    <h3 class="text-center login-title">Welcome to GameRev</h3>
                    <input name="username" type="text" class="z0 form-control" placeholder="Username" required autofocus>
                    <input name="password" type="password" class="z0 form-control" placeholder="Password" required autofocus>
                    <div id="error-alert" class="z1 alert alert-danger">
                        Invalid username or password
                    </div>
                    <button id="login-button" class="btn btn-lg btn-info btn-block">
                        Log In
                    </button>
                    <a class="link" href="/signup">
                        <button id="login-signup-button" class="z1 btn btn-lg btn-default btn-block">
                            Create an Account
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        {{{footer}}}
    </div>
</body>
</html>
