	{{{header}}}

	<div id="main-container">
		<p>
		You have been logged out!!! <br> Thanks and have a great day!
		</p>
		<a href="/">Return to the Home Page</a>
	</div>

	<div id="footer">
		{{{footer}}}
	</div>
</body>
</html>