    {{{header}}}

    <div id="main-container">
        <div class="min-height-container container">
            <div class="row">
                <div id="signup-container" class="center-horiz">
                    <h3 class="text-center login-title">Create an Account</h3>
                    <input name="username" type="text" class="z0 form-control" placeholder="Username" required autofocus>
                    <input name="email" type="text" class="z0 form-control" placeholder="Email" required autofocus>
                    <input name="password" type="password" class="z0 form-control" placeholder="Password" required autofocus>
                    <input name="repeatPassword" type="password" class="z0 form-control" placeholder="Repeat Password" required>
                    <div id="error-alert" class="z1 alert alert-danger">
                        Error: Invalid credentials
                    </div>
                    <button id="signup-button" class="btn btn-lg btn-info btn-block">
                        Sign Up
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        {{{footer}}}
    </div>
</body>
</html>
