    {{{header}}}

    <div id="main-container">
        <p>You have Subscribed!!!</p>
        <a href="/"> Home</a>
    </div>
    
    <div id="footer">
        {{{footer}}}
    </div>
</body>
</html>