#header{

}
#logo{

}
#search-bar{

}
#user-logo{

}
#drop-down-arrow{
	
}
#featured-slider{

}
#featured-description{

}
#create-review-container{

}
#create-review-btn{

}
.featured-header{

}
#featured-games{

}
.game-container{

}
.game-img-container{
	background-image: url("images/generic.jpg");
	width:250px;
	height:250px;
}
.game-img-container img{
	
}
.game-title-container{

}
#featured-reviewers{

}
.reviewer-container{

}
.reviewer-img-container{
	background-image: url("images/generic.jpg");
	width:250px;
	height:250px;
}
.reviewer-name-container{

}
#footer{

}

