#header{

}
#logo{

}
#search-bar{
	border: 3px solid;
}
#user-logo{

}
#drop-down-arrow{
	
}
#featured-slider{

}
#featured-description{

}
#create-review-container{

}
#create-review-btn{

}
.featured-header{
	float:left;
	width:400px;
}
#featured-games{
	width:400px;
}
.game-container{
	float:left;
	padding:20px 20px 0px 20px;
}
.game-img-container{
	background:url(../images/saintsrow4.jpg) no-repeat;
	background-size: cover;
	background-position:50% 50%;
	width:75px;
	height:100px;
}

.game-title-container{

}
#featured-reviewers{
	width:400px;
}
.reviewer-container{
	float:left;
	padding:20px 20px 0px 20px;
}
.reviewer-img-container{
	background:url(../images/generic.jpg) no-repeat;
	background-size: cover;
	background-position:50% 50%;
	width:75px;
	height:75px;
}
.reviewer-name-container{
}
#footer{
	width:400px;
	height:50px;
	background-color: ;
}

