/*
COLOR SCHEME:
Dark Primary: #1976D2
Primary: #2196F3
Light Primary: #BBDEFB
Accent: #FFC107
Text: #212121
Light Text: #FFFFFF
Secondary Text: #727272
Divider: #B6B6B6
Dark Grey: #3D3D3D

Red: #F44336
Yellow: #FFC107
Green: #4CAF50
*/

html, body {
	min-height: 100%;
	color: #212121;
}

a {
	color: #212121;
}

a:hover {
	text-decoration: none;
	color: #212121;
}

.link {
	color: #2196F3 !important;
}

.link:hover {
	color: #1976D2 !important;
}

.white-link {
	color: #FFFFFF !important;
}

.white-link:hover {
	color: #BBDEFB !important;
}

input {
	border-radius: 0px !important;
}

.btn {
	border-radius: 0px !important;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

.btn:active {
	box-shadow: none;
}

.btn:focus {
  
}

.btn-default {
	background-color: #FFFFFF;
	background-image: none;
	border: none;
}

.btn-default:hover {
	background-color: #FFFFFF;
	border: none;
}

.btn-info {
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: none;
	background-color: #2196F3;
	border-radius: 0px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.btn-info:hover {
	background-image: none;
	background-color: #2196F3;
}

.form-control {
	border: none !important;
	box-shadow: none;
	box-shadow: 0 0 3px rgba(0, 0, 0, .3) !important;
	z-index: 0;
}

.form-control:focus {
	border: none !important;
	box-shadow: none;
}

*::-webkit-input-placeholder { /* WebKit browsers */
    color: #727272 !important;
}
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #727272 !important;
   opacity: 1 !important;
}
*::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #727272 !important;
   opacity: 1 !important;
}
*:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #727272 !important;
}

.z-none {
	box-shadow: none !important;
	z-index: 0;
}

.z0 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.10) !important;
	z-index: 0;
}

.z1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
	z-index: 1;
}

.z2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
	z-index: 2;
}

.z3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
	z-index: 3;
}

.z4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
	z-index: 4;
}

.z5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
	z-index: 5;
}

/*-----HEADER-----*/
#header-wrapper {
	border: none;
	z-index: 5;
}

#header-container {
	background-color: #FFFFFF;
	color: #727272;
}

#logo {
	height: 70px;
	color: #FFFFFF;
	background-color: #2196F3;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 70px;
	font-size: 20px;
}

#logo:hover {
	color: #BBDEFB;
}

.navbar {
	margin-bottom: 0;
}

#header-menu-button {
	margin-top: 17px;
}

#header-login-container {
	text-align: center;
}

#header-login {
	padding-left: 0px;
	padding-right: 0px;
}

#header-signup {
	padding-left: 0px;
	padding-right: 0px;
}

#header-search-button {
	padding-top: 7px;
	padding-bottom: 7px;
}

#search-bar {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#search-group {
}

#search-form {
	width: calc(100% - 40px);
	box-shadow: none !important;
}

#toggle-header {
	padding-top: 10px;
}

/*-----HOME PAGE-----*/

.featured-pane {
	width: 100%;
	height: 100%;
}

#featured-slider-inner {
	max-height: 650px;
}

#create-review {
	margin: 0px;
}

#create-review-btn {
	line-height: 42px;
	font-size: 22px;
	display: block;
	width: 220px;
	height: 65px;
	margin-top: 35px;
	margin-bottom: 35px;
}

.index-title {
	background-color: #2196F3;
	color: #FFFFFF;
}

#staff-picks-header {
	margin-top: 20px;
	margin-bottom: 20px;
}

#staff-picks {
	display: block;
	float: none;
	list-style: none;
	padding: 0px;
	margin-top: 5px;
}

.index-tile {
	position: relative;
	display: inline-block;
	width: 33%;
	height: 200px;
	color: #FFFFFF;
	float: none;
	overflow: hidden;
}

@media only screen and (min-width: 551px) and (max-width: 850px) {
	.index-tile {
		width: 49.5%;
	}
}

@media only screen and (max-width: 550px) {
	.index-tile {
		width: 100%;
	}
}

.index-tile:hover {
	cursor: pointer;
}

#top-reviews-wrapper {
	margin-top: 25px;
}

.index-game-title {
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding: 15px;
	font-size: 20px;
	border-top: 4px solid rgba(33, 150, 243, .7);
	background-color: rgba(0, 0, 0, .8);
}

.index-review-title {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0px;
	padding: 15px;
	font-size: 20px;
	border-top: 4px solid rgba(33, 150, 243, 1);
	background-color: rgba(0, 0, 0, .8);
	-webkit-transform: translateY(calc(100% - 4px - 60px));
	-moz-transform: translateY(calc(100% - 4px - 60px));
	-o-transform: translateY(calc(100% - 4px - 60px));
	transform: translateY(calc(100% - 4px - 60px));
}

.index-review-title.good {
	border-top: 4px solid rgba(76, 175, 80, 1);
}

.index-review-title.okay {
	border-top: 4px solid rgba(255, 193, 7, 1);
}

.index-review-title.bad {
	border-top: 4px solid rgba(244, 67, 54, 1);
}

.index-game-title.show {
	border-top: 4px solid rgba(33, 150, 243, 1);
}

.index-review-title.show {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}

.review-tile-title {
	margin-top: 0px;
	margin-bottom: 20px;
	white-space: nowrap;
}

.review-tile-summary {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 14px;
}

.review-tile-game {
	position: absolute;
	bottom: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #727272;
	font-size: 14px;
}

@media only screen and (max-device-width: 1024px) {
	.index-game-title {
		border-top: 4px solid rgba(33, 150, 243, 1);
	}

	.index-review-title {
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		-o-transform: translateY(0%);
		transform: translateY(0%);
	}
}

/*-----GAME PAGE-----*/
#game-content {
	position: relative;
	top: 10px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

#game-title {
	display: table;
	min-height: 20vh;
	width: 100%;
	text-align: left;
	padding-top: 80px;
}

#game-title-container {
	height: 100%;
}

.game-main-thumbnail {
	display: table-cell;
	float: left;
	width: 140px;
	margin-right: 30px;
}

.game-image {
	width: 100%;
	height: 100%;
	margin-bottom: 15px;
}

.game-image.good {
	box-shadow: 0 0 10px 5px #4CAF50;
}

.game-image.okay {
	box-shadow: 0 0 10px 5px #FFC107;
}

.game-image.bad {
	box-shadow: 0 0 10px 5px #F44336;
}

#game-title-text {
	display: table-cell;
	bottom: 0px;
	vertical-align: bottom;
	width: 100%;
	height: 100%;
	padding-bottom: 15px;
	color: white;
	text-shadow: 0 0 15px black;
}

/*-----SIGN UP PAGE-----*/
#signup-container {
	margin-top: 5%;
}

/*-----LOGIN PAGE-----*/
#login-container {
	margin-top: 5%;
}

#login-signup-button {
	margin-top: 15px;
	margin-bottom: 15px;
}

/*-----NEW REVIEW PAGE-----*/
#new-review-form {
	padding-top: 30px;
	padding-bottom: 30px;
}

#toolbar {
	margin-top: 20px;
	border-bottom: 1px solid #B6B6B6;
}

#editor {
	min-height: 400px;
	margin-bottom: 20px;
}

.rating-button {

}


/*---------CONTENT----------*/

#game-verdict {
	margin-bottom: 3px;
}

#game-verdict-stats {
	color: grey;
}

#game-info {
	align: center;
	margin: 0px auto;
}

.game-info-text {
	margin-bottom: 5px;
}

#game-description {
	padding-top: 15px;
	padding-bottom: 15px;
}

#game-reviews {
	
}

.game-review {
	min-height: 89px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 15px;
}

.game-review h4 {
	margin: 0;
}

.game-review:hover {
	box-shadow: 0 0 0 1px lightgrey;
}

.game-user-profile-img {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;
}

.top-critics-row {
	text-align: center;
	display: table;
	margin: 0 auto;
}

.critic {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
}

/*-----GLOBAL STYLE-----*/

.game-good-review {
	color: #4CAF50;
}

.game-okay-review {
	color: #FFC107;
}

.game-bad-review {
	color: #F44336;
}

#error-alert {
	background-image: none;
	background-color: #F44336;
	border-radius: 0px;
	text-align: center;
	color: #FFFFFF;
	display: none;
}

#error-alert.show {
	display: block;
}

.animate {
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

.animate-slow {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.center-horiz {
    margin-left: auto;
    margin-right: auto;
}

.text-center-horiz {
	width: 100%;
	text-align: center;
}

.display-table {
	display: table;
}

.display-inline-block {
	display: inline-block !important;
}

.cover {
	background-repeat: no-repeat;
	background-position: center center;

	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.max-width-container {
	max-width: 960px;
	margin: auto;
}

.super-wide-container {
	max-width: 1100px;
	margin: auto;
}

.min-height-container {
	min-height: calc(100vh - 70px - 50px);
}

.reviewer-img-container {
	position: relative;
	background-image: url("../images/user-profile.png");
	width:140px;
	height:140px;
}

.reviewer-name-container {
	position: absolute;
	width: 100%;
	bottom: 10px;
	font-size: 16px;
}

#main-container {
	width: 100%;
	height: 100%;
}

#footer {
	width: 100%;
	background-color:#EEEEEE;
	margin-bottom:0px;
}

#footer a {
	float:left;
	margin:10px 30px 10px 30px;
	text-decoration: none;
	font-size:16px;
	color:#000;
}