<nav class="navbar navbar-default" >
	<div class="center-horiz display-table">
		<a href="/about">About Gamerev</a>
		<a href="/terms">Terms of Service</a>
		<a href="/profile-settings">Settings</a>
	</div>
</nav>