.featured-pane {
	background-size: cover;
	background: no-repeat center center;
	width: 100%;
	height: 100%;
}

.search-bar {
	width: 80%;
}

#featured-slider {
	
}

#featured-slider-inner {
	max-height: 650px;
}

#featured-1 {
	
}

#featured-2 {
	
}

#featured-3 {
	
}

#featured-4 {
	
}

#create-review {

}

#create-review-btn {
	line-height: 42px;
	font-size: 22px;
	display: block;
	width: 220px;
	height: 65px;
}

#top-games-inner {
}

.top-games-row {
	text-align: center;
	display: table;
	margin: 0 auto;
}

.featured-game {
	display: inline-block;
	width: 220px;
	height: 280px;
	margin-left: 15px;
	margin-right: 15px;
}

#game-1 {
	background-image: url("../images/ac-unity.jpg");
}

#game-2 {
	background-image: url("../images/farcry4.jpg");	
}

#game-3 {
	background-image: url("../images/gtav.jpg");
}

#game-4 {
	background-image: url("../images/dragonage.jpg");
}

.center-horiz {
    margin-left: auto;
    margin-right: auto;
}

.cover {
	background: no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.reviewer-img-container {
	background:url(../images/user-profile.png) no-repeat;
	background-size: cover;
	background-position:50% 50%;
	width:140px;
	height:140px;
}
.reviewer-name-container {
}
#footer {
	width:400px;
	height:50px;
	background-color: ;
}
