#game-content {
	
}

#game-title {
	display: table;
	min-height: 20vh;
	width: 100%;
	text-align: left;
	padding-top: 10vh;
	background-image: url("../images/dai-cover-wide.jpg");
}

#game-title-container {
	height: 100%;
}

.game-main-thumbnail {
	display: table-cell;
	float: left;
	width: 140px;
	margin-right: 30px;
}

.game-image {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10px 5px limegreen;
	margin-bottom: 15px;
}

#game-title-text {
	display: table-cell;
	bottom: 0px;
	vertical-align: bottom;
	width: 100%;
	height: 100%;
	padding-bottom: 15px;
	color: white;
	text-shadow: 0 0 10px black;
}

/*---------CONTENT----------*/

#game-verdict {
	text-align: center;
}

#game-info {
	align: center;
	margin: 0px auto;
}

.game-info-text {
	margin-bottom: 5px;
}

#game-description {
	padding-top: 15px;
	padding-bottom: 15px;
}

#game-reviews {
	
}

.game-review {
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 15px;
}

.game-review h4 {
	margin: 0;
}

.game-review:hover {
	box-shadow: 0 0 0 1px lightgrey;
}

.game-user-profile-img {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 10px;
}

.game-review-link {
	color: black;
}

.game-review-link:hover {
	color: black;
}

.game-good-review {
	color: limegreen;
}

.game-ok-review {
	color: gold;
}

.game-bad-review {
	color: crimson;
}



