.featured-pane {
	width: 100%;
	height: 100%;
}

.search-bar {
	width: 80%;
}

#featured-slider {
	
}

#featured-slider-inner {
	max-height: 650px;
}

#featured-1 {
	
}

#featured-2 {
	
}

#featured-3 {
	
}

#featured-4 {
	
}

#create-review {

}

#create-review-btn {
	line-height: 42px;
	font-size: 22px;
	display: block;
	width: 220px;
	height: 65px;
	margin-top: 35px;
	margin-bottom: 35px;
}

#top-games {
	margin-top: 15px;
}

#top-games-inner {
}

.top-games-row {
	text-align: center;
	display: table;
	margin: 0 auto;
}

.featured-game {
	display: inline-block;
	width: 220px;
	height: 280px;
	margin-left: 15px;
	margin-right: 15px;
}

#game-1 {
	background-image: url("../images/ac-unity.jpg");
}

#game-2 {
	background-image: url("../images/farcry4.jpg");	
}

#game-3 {
	background-image: url("../images/gtav.jpg");
}

#game-4 {
	background-image: url("../images/saintsrow4.jpg");
}

.top-critics-row {
	text-align: center;
	display: table;
	margin: 0 auto;
}

.critic {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
}

.center-horiz {
    margin-left: auto;
    margin-right: auto;
}

.text-center-horiz {
	width: 100%;
	text-align: center;
}

.cover {
	background: no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.reviewer-img-container {
	position: relative;
	background-image: url("../images/user-profile.png");
	width:140px;
	height:140px;
}

.reviewer-name-container {
	position: absolute;
	width: 100%;
	bottom: 10px;
	font-size: 16px;
}

.footer{
	background-color:#EEEEEE;
}

.footer a{
	float:left;
	margin:20px;
	text-decoration: none;
	font-size:16px;
	color:#000;
}

body { padding-bottom: 70px; }

